<h2>데이터 수정하기</h2>


> pandas의 df.rename()을 이용해 변수명 변경

1. 데이터 프레임 만들기

In [2]:
import pandas as pd
df_raw=pd.DataFrame({'var1':[1,2,1],
                     'var2':[2,3,2]})
df_raw

   var1  var2
0     1     2
1     2     3
2     1     2

2. 데이터 프레임 복사본 만들기

In [3]:
df_new=df_raw.copy()
df_new

   var1  var2
0     1     2
1     2     3
2     1     2

3. 변수명 바꾸기

In [4]:
df_new=df_new.rename(columns={'var2':'v2'})
df_new

   var1  v2
0     1   2
1     2   3
2     1   2



> 파생변수 만들기(기존의 변수 변형)

In [5]:
df=pd.DataFrame({'var1':[4,3,8],
                 'var2':[2,6,1]})
df['var_sum']=df['var1']+df['var2']
df

   var1  var2  var_sum
0     4     2        6
1     3     6        9
2     8     1        9

 **Practice** : mpg 통합 연비 변수 만들기 (도시 연비와 고속도로 연비를 통합하는 연비)

In [8]:
mpg=pd.read_csv('mpg.csv')
mpg['total']=(mpg['cty']+mpg['hwy'])/2
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,total
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0