<a href="https://colab.research.google.com/github/Devheun/Data-Analysis/blob/main/Data_Cleansing(Lec7).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2>데이터 정제</h2>


> 빠진 데이터, 이상한 데이터 제거하기

빠진 데이터 찾기 - 결측치 정제하기

---

<결측치 찾기>

In [3]:
import numpy as np
import pandas as pd

df=pd.DataFrame({'sex':['M','F',np.nan,'M','F'], #numpy의 np.nan으로 결측치 생성
                 'score':[5,4,3,4,np.nan]})

pd.isna(df) # pd.isna()를 이용해 결측치 있는지 확인 가능
pd.isna(df).sum() # pd.isna()에 sum()을 적용하면 결측치 총 몇개인지 출력

sex      1
score    1
dtype: int64

<결측치 제거하기>

In [4]:
df.dropna(subset=['score']) # df.dropna()를 이용하여 결측치 있는 행 제거

   sex  score
0    M    5.0
1    F    4.0
2  NaN    3.0
3    M    4.0

In [5]:
df_nomiss=df.dropna(subset=['score']) # score 결측치 제거된 데이터 만들기
df_nomiss['score']+1 # score로 연산

0    6.0
1    5.0
2    4.0
3    5.0
Name: score, dtype: float64

In [6]:
df_nomiss=df.dropna(subset=['score','sex']) # 여러 변수에 결측치 없는 데이터 추출
df_nomiss

  sex  score
0   M    5.0
1   F    4.0
3   M    4.0

In [7]:
df_nomiss2=df.dropna() # 결측치가 하나라도 있으면 제거하기 (단점 : 분석에 필요한 행까지 손실된다.)
df_nomiss2

  sex  score
0   M    5.0
1   F    4.0
3   M    4.0

<결측치 대체하기>

결측치를 대체하는 방법에는 **평균값이나, 최빈값 같은 대표값을 구해 모든 결측치를 하나의 값**으로 대체하는 방법과**통계 분석 기법으로 결측치의 예상값을 추정**해 대체하는 방법 등이 있다.

In [8]:
exam=pd.read_csv('exam.csv')
exam.loc[[2,7,14],['math']]=np.nan # df.loc[] 은 데이터의 위치 지칭, [ , ]에서 쉼표 왼쪽은 행 위치, 오른쪽은 열 위치
exam

    id  nclass  math  english  science
0    1       1  50.0       98       50
1    2       1  60.0       97       60
2    3       1   NaN       86       78
3    4       1  30.0       98       58
4    5       2  25.0       80       65
5    6       2  50.0       89       98
6    7       2  80.0       90       45
7    8       2   NaN       78       25
8    9       3  20.0       98       15
9   10       3  50.0       98       45
10  11       3  65.0       65       65
11  12       3  45.0       85       32
12  13       4  46.0       98       65
13  14       4  48.0       87       12
14  15       4   NaN       56       78
15  16       4  58.0       98       65
16  17       5  65.0       68       98
17  18       5  80.0       78       90
18  19       5  89.0       68       87
19  20       5  78.0       83       58

In [11]:
# 평균값으로 결측치 대체
exam['math'].mean() # 평균값 약 55

exam['math']=exam['math'].fillna(55) #df.fillna()을 이용해 결측값 다른 값으로 대체
exam

    id  nclass  math  english  science
0    1       1  50.0       98       50
1    2       1  60.0       97       60
2    3       1  55.0       86       78
3    4       1  30.0       98       58
4    5       2  25.0       80       65
5    6       2  50.0       89       98
6    7       2  80.0       90       45
7    8       2  55.0       78       25
8    9       3  20.0       98       15
9   10       3  50.0       98       45
10  11       3  65.0       65       65
11  12       3  45.0       85       32
12  13       4  46.0       98       65
13  14       4  48.0       87       12
14  15       4  55.0       56       78
15  16       4  58.0       98       65
16  17       5  65.0       68       98
17  18       5  80.0       78       90
18  19       5  89.0       68       87
19  20       5  78.0       83       58

**Practice** : 결측치가 있는 mpg 데이터를 이용해 분석문제 해결

1. drv변수와 hwy변수에 결측치가 몇 개 있는 지 확인
2. hwy변수의 결측치를 제거하고, 어떤 구동방식의 hwy평균이 높은지 확인.(하나의 pandas 구문으로)

In [14]:
mpg=pd.read_csv('mpg.csv')
mpg.loc[[64,123,130,152,211],'hwy']=np.nan

# Problem 1
mpg[['drv','hwy']].isna().sum()

drv    0
hwy    5
dtype: int64

In [15]:
# Problem 2
mpg.dropna(subset=['hwy'])\
   .groupby('drv')\
   .agg(mean_hwy=('hwy','mean'))

      mean_hwy
drv
4    19.242424
f    28.200000
r    21.000000